ELECTRUM_ADDR=0.0.0.0:50001
HTTP_ADDR=0.0.0.0:3060
BITCOIND_URL=http://{bitcoin_rpc_host}:{bitcoin_rpc_port}
BITCOIND_AUTH={bitcoin_rpc_user:}:{bitcoin_rpc_pass}
RESCAN_SINCE={rescan_since}
XPUBS={xpubs}
